html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  outline: 0;
  outline-offset: 0;
  box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

hr {
  width: 50px;
  height: 0;
  border: 1px solid #00e0d0;
}

button {
  outline: 0;
  outline-offset: 0;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #00e0d0;
  border-radius: 2px;
  padding: 10px 15px;
  color: #00e0d0;
  cursor: pointer;
  transition: 0.1s;
}
button:hover {
  background-color: #00e0d0;
  color: #2f2b4f;
  padding: 10px 20px;
}

.site-header {
  padding: 15px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.site-header .wrap img {
  max-height: 50px;
}
.site-header .wrap h1 {
  text-indent: -9999px;
  position: absolute;
}

.nav-header {
  text-transform: uppercase;
}
.nav-header ul li {
  float: left;
  margin-left: 20px;
}
.nav-header ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  transition: 0.3s;
}
.nav-header ul li a:hover {
  color: #00e0d0;
}
.nav-header ul li a:active {
  color: #00e0d0;
}

.overline-header {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.overline-header h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  color: #413d4b;
}
.overline-header p {
  margin-top: 15px;
  font-size: 14px;
  color: #2f2d35;
}
.overline-header hr {
  margin-top: 15px;
  border: 1px solid #c6c4c9;
}

.our-works-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 75px 0;
}
.our-works-header h2 {
  text-transform: uppercase;
  font-size: 22px;
  color: #413d4b;
  font-family: "Playfair Display", serif;
}
.our-works-header a {
  font-size: 14px;
  color: #413d4b;
  text-decoration: none;
  transition: 0.3s;
}
.our-works-header a:hover {
  color: #2a214d;
  font-size: 15px;
}

.welcome-section {
  background-image: url("../../img/welcome-section-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  height: 100vh;
}
.welcome-section:before {
  content: "";
  background-color: #2f2b4f;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  left: 0;
}
.welcome-section .container {
  position: relative;
}
.welcome-section .welcome-section-content {
  margin: 0 auto;
  max-width: 700px;
}
.welcome-section .welcome-section-content h2 {
  margin-top: 160px;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  color: #fff;
}
.welcome-section .welcome-section-content hr {
  margin-top: 20px;
}
.welcome-section .welcome-section-content p {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  line-height: 25px;
}
.welcome-section .welcome-section-content button {
  margin-top: 40px;
}
.welcome-section .welcome-section-content button:hover {
  background-color: #00e0d0;
  color: #2f2b4f;
}

.our-story {
  padding: 70px 0;
}
.our-story .container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.our-story .img-template {
  overflow: hidden;
  max-width: 380px;
  max-height: 230px;
}
.our-story .img-template img {
  width: 100%;
}

.our-story-content {
  -webkit-flex: 1;
  flex: 1;
  padding-left: 25px;
}
.our-story-content h2 {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: bold;
  color: #413d4b;
}
.our-story-content p {
  margin-top: 30px;
  font-size: 14px;
  line-height: 25px;
  color: #2a214d;
}
.our-story-content button {
  margin-top: 30px;
}

.watch-our-story {
  height: 100vh;
  text-align: center;
  background-image: url("../../img/watch-our-story-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.watch-our-story:before {
  content: "";
  background-color: #2f2b4f;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  left: 0;
}
.watch-our-story p {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  transition: 0.5s;
}
.watch-our-story p:hover {
  filter: brightness(0) invert(0);
}
.watch-our-story p:before {
  content: "";
  background-image: url("../../img/play-button.png");
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.expertise {
  padding: 60px 0;
}

.kinds-of-expertises {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
}
.kinds-of-expertises li {
  max-width: 33.33%;
  padding: 35px;
  text-align: center;
}
.kinds-of-expertises li:nth-child(1) {
  border-right: 1px solid #c6c4c9;
}
.kinds-of-expertises li:nth-child(2) {
  border-right: 1px solid #c6c4c9;
}
.kinds-of-expertises li:nth-child(3n+4) {
  border-top: 1px solid #c6c4c9;
  border-right: 1px solid #c6c4c9;
}
.kinds-of-expertises li:nth-child(3n+5) {
  border-top: 1px solid #c6c4c9;
  border-right: 1px solid #c6c4c9;
}
.kinds-of-expertises li:nth-child(3n+6) {
  border-top: 1px solid #c6c4c9;
}
.kinds-of-expertises li h3 {
  font-size: 14px;
  font-weight: bold;
  color: #413d4b;
}
.kinds-of-expertises li p {
  margin-top: 25px;
  font-size: 14px;
  color: #333333;
}

.expertise-icon1:before {
  content: "";
  display: block;
  background-image: url("../../img/expertise1.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.expertise-icon2:before {
  content: "";
  display: block;
  background-image: url("../../img/expertise2.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.expertise-icon3:before {
  content: "";
  display: block;
  background-image: url("../../img/expertise3.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.expertise-icon4:before {
  content: "";
  display: block;
  background-image: url("../../img/expertise4.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.expertise-icon5:before {
  content: "";
  display: block;
  background-image: url("../../img/expertise5.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.expertise-icon6:before {
  content: "";
  display: block;
  background-image: url("../../img/expertise6.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.meet-our-amazing-team {
  background-image: url("../../img/meet-our-amazing-team-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  position: relative;
}
.meet-our-amazing-team:before {
  content: "";
  background-color: #2f2b4f;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  left: 0;
}
.meet-our-amazing-team .container {
  padding: 70px 0;
  position: relative;
}
.meet-our-amazing-team .container > p {
  font-size: 14px;
  margin-top: 70px;
  color: #f3f3f3;
}
.meet-our-amazing-team .container button {
  margin-top: 30px;
}
.meet-our-amazing-team .overline-header h2 {
  color: #ffffff;
}
.meet-our-amazing-team .overline-header p {
  color: #f9f9f9;
}

.team-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.member-team {
  margin-top: 50px;
}
.member-team .img-template {
  max-width: 222px;
  max-height: 232px;
  overflow: hidden;
}
.member-team .img-template img {
  width: 100%;
}
.member-team .member-info {
  max-width: 222px;
  border: 1px solid #78768c;
  border-top: none;
  padding: 20px 0 28px;
}
.member-team .member-info h3 {
  font-size: 14px;
  color: #ffffff;
}
.member-team .member-info p {
  font-size: 14px;
  color: #78768c;
  margin-top: 10px;
}

.works {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.work {
  overflow: hidden;
  width: 16.666666667%;
}
.work a {
  width: 100%;
  display: block;
  height: 100%;
}
.work a img {
  width: 100%;
  vertical-align: middle;
  transition: 0.5s;
}
.work a img:hover {
  filter: brightness(0) invert(0);
}

.feedbacks {
  height: 100vh;
  background-image: url("../../img/feedbacks-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.feedbacks:before {
  content: "";
  background-color: #2f2b4f;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  left: 0;
}

.feedback {
  position: relative;
  color: #ffffff;
  width: 740px;
  line-height: 25px;
}
.feedback p {
  font-family: "Playfair Display", serif;
  font-size: 16px;
}
.feedback p:before {
  content: "";
  background-image: url("../../img/quotes.png");
  width: 32px;
  height: 26px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.feedback h2 {
  font-size: 14px;
  margin-top: 55px;
  font-weight: bold;
}
.feedback span {
  font-size: 13px;
}

.works-footer {
  padding: 75px 0;
  text-align: center;
}

.site-footer {
  color: #ffffff;
  position: relative;
  background-image: url("../../img/watch-our-story-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.site-footer:before {
  content: "";
  background-color: #2f2b4f;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  left: 0;
}
.site-footer .container {
  position: relative;
  padding: 70px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: start;
  align-items: start;
}
.footer-content h2 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.footer-description {
  width: 285px;
  font-size: 14px;
}
.footer-description img {
  width: 130px;
}
.footer-description p {
  margin-top: 30px;
  font-size: 14px;
  line-height: 25px;
}

.our-studio {
  width: 300px;
}
.our-studio p {
  font-size: 14px;
  line-height: 25px;
  position: relative;
}
.our-studio .location {
  margin-top: 45px;
}
.our-studio .location:before {
  content: "";
  background-image: url("../../img/location.png");
  width: 14px;
  height: 19px;
  float: left;
  margin-right: 10px;
  margin-bottom: 50px;
}
.our-studio .phone-number {
  margin-top: 28px;
}
.our-studio .phone-number:before {
  content: "";
  background-image: url("../../img/phone-number.png");
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 10px;
}

.stay-in-touch {
  font-size: 15px;
}
.stay-in-touch form {
  margin-top: 45px;
  display: -webkit-flex;
  display: flex;
}
.stay-in-touch form input {
  background: none;
  padding: 0 15px;
  color: #fff;
  opacity: 0.7;
  border: 2px solid #ffffff;
}
.stay-in-touch form input::placeholder {
  text-align: center;
  color: #fff;
}
.stay-in-touch form button {
  border: none;
  border-radius: 0;
  background-image: url("../../img/footer-button.png");
  width: 70px;
  height: 45px;
  opacity: 0.6;
  transition: 0.6s;
}
.stay-in-touch form button:hover {
  opacity: 0.9;
}

.social-networks {
  margin-top: 30px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.social-network {
  border: 1px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
}
.social-network a .fa {
  color: #fff;
  padding: 9px 0;
}

.site-footer-bottom {
  margin-top: 70px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.site-footer-bottom ul {
  font-size: 14px;
}
.site-footer-bottom ul li {
  float: left;
  margin-right: 30px;
}
.site-footer-bottom ul li a {
  text-decoration: none;
  color: #fff;
}

.form-and-clients {
  padding: 70px 0;
}
.form-and-clients h2 {
  margin: 0;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  color: #413d4b;
}
.form-and-clients .container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.form-and-clients .container .clients-wrap {
  max-width: 380px;
}

.site-form {
  max-width: 460px;
}
.site-form > * {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}
.site-form input {
  width: 100%;
  padding: 12px 20px;
}
.site-form input:nth-of-type(1) {
  margin-top: 40px;
}
.site-form textarea {
  padding: 12px 20px;
  height: 200px;
  width: 100%;
  resize: none;
}
.site-form button {
  padding: 10px 35px;
}
.site-form button:hover {
  padding: 10px 40px;
}

.clients {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 25px;
  width: 100%;
}
.clients .client {
  max-width: 40%;
  margin-top: 10px;
  overflow: hidden;
}
.clients .client:nth-child(odd) {
  margin-right: 20%;
}
.clients .client img {
  width: 100%;
}
