.expertise {
  padding: 60px 0;
  .container {

  }
}
.kinds-of-expertises {
  @include display-flex;
  @include flex-wrap(wrap);
  margin-top: 40px;
  li {
    max-width: 33.33%;
    padding: 35px;
    text-align: center;
    h3 {
      font-size: 14px;
      font-weight: bold;
      color: #413d4b;
    }
    p {
      margin-top: 25px;
      font-size: 14px;
      color: #333333;
    }
  }
}
@for $i from 1 through 2 {
  .expertise-border-#{$i} {
    border-right: $expertiseBorder;
  }
}
@for $i from 1 through $expertiseNumber {
  .expertise-icon#{$i}::before {
    content: "";
    display: block;
    background-image: url("../../img/expertise#{$i}.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;

  }
}
$i: 4;
@while $i < ($expertiseNumber +1) {
  $j: 1;
  @while $j > 0 {
    .expertise-border-#{$i} {
      border-top: $expertiseBorder;
      border-right: $expertiseBorder;
    }
    .expertise-border-#{$i + 1} {
      border-top: $expertiseBorder;
      border-right: $expertiseBorder;
    }
    .expertise-border-#{$i + 2} {
      border-top: $expertiseBorder;
    }
    $j: $j - 1;
  }
  $i: $i + 3;
}
