
.meet-our-amazing-team {
  background-image: url("../../img/meet-our-amazing-team-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  &:before {
    content: "";
    background-color: $bColor;
    position: absolute;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    left: 0;
  }
  .container {
    padding: 70px 0;
    position: relative;
    & > p {
      font-size: 14px;
      margin-top: 70px;
      color: #f3f3f3;
    }
    button {
      margin-top: 30px;
    }
  }
  .overline-header {
    h2 {
      color: #ffffff;
    }
    p {
      color: #f9f9f9;
    }
  }
}
.team-list {
  @include display-flex;
  @include justify-content(space-between);
}
.member-team {
  margin-top: 50px;
  .img-template {
    max-width: 222px;
    max-height: 232px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .member-info {
    max-width: 222px;
    border: 1px solid #78768c;
    border-top: none;
    padding:20px 0 28px;
    h3 {
      font-size: 14px;
      color: #ffffff;
    }
    p {
      font-size: 14px;
      color: #78768c;
      margin-top: 10px;
    }
  }
}